.rootElement{
    /* border: 1px solid blueviolet; */
}

.originalImage{
    display: block;    
}

.zoomImage{
    display: none;
    position: relative;
}

.imageFrame{              
    cursor: crosshair;
    overflow: hidden;
}