.rootElement{
    /* border: 1px solid blueviolet; */
}

.originalImage{
    display: block;    
}

.zoomImage{
    display: none;
    position: relative;
   /*  top: -1000px;
    left: -500px; */
    top: 0px;
    left: 0px;
}

.imageFrame{          
    border: 1px solid red;
    width: 640px;
    height: 640px;
    overflow: hidden;
}