.prevPageButton {
    margin: auto;
    font-family: 'Kufam', cursive;
    font-size: 3em;    
    border: 1px solid blue;
    border-radius: 5px;
}

.prevPageButton:hover{
    border-radius: 15px;
    background-color: lightblue;
    color: white;
}

.buttonContainer {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.pageTitle {
    font-family: 'Kufam', cursive;
    font-size: 7em;    
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}