.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;                    
}           
#_canvas {
    flex: 1;
}
#_new_canvas {
    flex: 1;;
}
#adjust{
    flex: 1;   
    height: 100%;                  
}
